/*RESET*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #505962 /*grayish blue*/

}

html {
	scroll-behavior: smooth;
}

/*======GLOBAL======*/
.main-font{
	font-family: 'Sigmar One', cursive;
	color: #ff983d;
	text-shadow: 1px 1px #fff;
	text-align: center;
}

.sub-font{
	font-family: 'Chango', cursive;
	color: #ff983d;
	text-shadow: 1px 1px #000;
	text-align: center;
}

.btn-bg {
	background: #c76c1c;
}

.highlight{
	font-weight: bold;
}

.spacer {
	height: 15vh;

}
.spacer hr {
	background: #ff983d;
	box-shadow: 1px 1px 5px 5px #ff983d;
}
/*
.container-fluid {
	padding: 0 !important;
}*/

/*=============Navigation============*/

.navbar {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	background: rgba(0, 0, 0, 0.6);
	min-height: 10vh;
	text-align: center;
}


.navbar-dark .navbar-nav li{
	padding-right: 0.5rem;
}

.navbar-brand i {
	text-shadow: 2px 2px #fff;
	color: #ff983d;
}

/*you cant remote the navbar-dark/navbar-light on the nav since it will have a problem on the burger
work around is to target the navbar-dark then put important to the color changes*/
.navbar-dark .navbar-nav .nav-link {
	color: #fff!important;
	padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #ff983d!important;
}


/*===============landing page text=====================*/
.landing-text h1 {
	font-size: 4rem;
	margin: 0;
	padding: 0;
}

.landing-text h3 {
	margin-bottom: 5px;
}

.landing-text .btn, #shop button.btn {
	background: #c76c1c;
	margin: 5px;
}

/*==============Landing page==============*/

.home-inner {
	background: url(../images/landing-home-inner.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
}

.landing-text {
	width: 100%; /*to occupy the whole width*/
	max-width: 100%; /*to  always have the text inside the page*/
}


/*==================Abount Us Page================*/
#about-us {
	min-height: 100vh;
}

.about-us-content {
	height: 85vh;
}

#about-us h1,  #about-us h5{
	margin: 0;
	padding: 0;
}

#about-us .card img {
	height: 45vh;
}

#about-us .card .card-body {
	height: 30vh;
	background: #999;
	overflow: hidden;
}

/*================SHOP PAGE===============*/

#shop {
	min-height: 100vh;
	text-align: center;
}

#shop div.row {
	margin: 0;
}

.shop-menu ul li {
	display: inline-block;
	margin: 0;
	list-style: none;
	padding: 10px 15px;
	border: 1px solid tomato;
	cursor: pointer;
	transition: all 0.5s ease;
	border-radius: 10px;
}

.shop-menu ul li:hover{
	background: tomato;
	color: #fff;
}

.shop-items .shop-item{
	padding: 15px;
	border: 1px solid tomato;
	min-height: 40vh;
}

.shop-items .shop-item img{
	height: 120px;
}

.shop-items .shop-item p{
	font-weight: bold;
}

.shop-items .shop-item div li {
	text-align: left;
	font-size: 0.8rem;
	font-style: italic;
}

/*================SERVICES=================*/
#services {
	min-height: 100vh;
}

.services-img {
	width: 100%;
}

#services div h5 {
	padding: 1rem 0;
}

/*================CONTACT US=====================*/
#contact-us {
	min-height: 100vh;
}

#contact-us input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
}

/*===============FOOTER====================*/
footer {
	min-height: 15vh;
	background: #333;
	text-align: center;
	margin-top: 1rem;
	display: flex;
	align-content: center;
	justify-content: center;
}
footer .content {
	padding: 1rem 0;
	color: #fff;
}

footer .content p, footer .content h6 {
	margin-bottom: 0;
}



/*FONTS & COLOR
font-family: 'Sigmar One', cursive; >use on logo name and page titles
font-family: 'Chango', cursive; >subtitle
font-family: 'Lato', sans-serif; >details

color for main-text #ff983d
color for background #c76c1c
*/

@media only screen and (max-width: 1200px) {
	
}


@media only screen and (max-width: 992px) {
	.navbar {
		font-size: 0.6rem;
		/*padding: 0 !important;*/
	}

	.navbar-brand {
		transform: scale(0.9);
	}

	#about-us .card .card-body h5{
		font-size: 1rem;
	}

	#about-us .card .card-body p {
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 768px) {

	/*SHOP*/
	.shop-menu ul li {
	    padding: 5px 5px;
	    font-size: 0.75rem;
	}
}

@media only screen and (max-width: 576px) {
	/*NAV BAR*/
	.navbar {
		/*display: block !important;*/
		justify-content: space-around !important;
	}

	.navbar a{
		margin-right: 0;
	}
	.navbar-brand {
		display: block;
		margin-right: 0;
	}

	/*LANDING PAGE*/

	.landing-text h1{
		font-size: 3rem;
	}

	.landing-text h3{
		font-size: 1.25rem;
	}

	/*SHOP*/
	#shop .spacer, #services .spacer, #contact-us .spacer  {
		height: 20vh;
	}

	#shop .shop-menu .sub-font li {
		margin-bottom: 0.5rem;
	}

	/*FOOTER*/

	footer .content p, footer .content h6 {
		font-size: 0.9rem;
	}

}




/* MEDIA QUERIES BOOSTRAP BREAK POINTS
Extra small (xs) devices (portait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px){...}

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px){...}

Extra Large (xl) large devices(large desktop, 1200px and up)
@media (min-width: 1200px){...}

